<!-- <ng-template ngFor let-item [ngForOf]="categories" let-i="index" [ngForTrackBy]="trackByFn">
  
</ng-template> -->

<ion-grid>
  <ion-row>
    <ion-col button="true">
      <div class="w-full flex items-center justify-center"  (click)="goToHomeProducts()">
        <div
          class="
            w-12
            h-12
            bg-purple-500
            mb-2
            rounded-full
            flex
            items-center
            justify-center
            shadow-xl
          "
        >
          <ion-icon name="list" class="text-gray-100 text-xl"></ion-icon>
        </div>
      </div>
      <span class="block text-center text-xs text-gray-400">Tous</span>
    </ion-col>
    <ion-col>
      <div class="w-full flex items-center justify-center" (click)="goToRecentProducts()">
        <div
          class="
            w-12
            h-12
            bg-purple-200
            mb-2
            rounded-full
            flex
            items-center
            justify-center
            shadow-xl
          "
        >
          <ion-icon name="rocket" class="text-purple-500 text-xl"></ion-icon>
        </div>
      </div>
      <span class="block text-center text-xs text-gray-400">Récentes</span>
    </ion-col>
    <ion-col>
      <div class="w-full flex items-center justify-center"  (click)="goToPopularProducts()">
        <div
          class="
            w-12
            h-12
            bg-purple-200
            mb-2
            rounded-full
            flex
            items-center
            justify-center
            shadow-xl
          "
        >
          <ion-icon name="diamond" class="text-purple-500 text-xl"></ion-icon>
        </div>
      </div>
      <span class="block text-center text-xs text-gray-400">Populaires</span>
    </ion-col>
    <ion-col>
      <div class="w-full flex items-center justify-center"  (click)="goToLostProducts()">
        <div
          class="
            w-12
            h-12
            bg-purple-200
            mb-2
            rounded-full
            flex
            items-center
            justify-center
            shadow-xl
          "
        >
          <ion-icon name="telescope" class="text-purple-500 text-xl"></ion-icon>
        </div>
      </div>
      <span class="block text-center text-xs text-gray-400">Objets perdu</span>
    </ion-col>
    
  </ion-row>
</ion-grid>

