<!-- <ng-template ngFor let-item [ngForOf]="categories" let-i="index" [ngForTrackBy]="trackByFn">
  
</ng-template> -->

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="w-full flex items-center justify-center">
        <div
          class="
            w-12
            h-12
            bg-purple-200
            mb-2
            rounded-full
            flex
            items-center
            justify-center
            shadow-xl
          "
        >
          <ion-icon name="person" class="text-purple-500 text-xl"></ion-icon>
        </div>
      </div>
      <span class="block text-center text-xs text-gray-400">Categorie 1</span>
    </ion-col>
    <ion-col>
      <div class="w-full flex items-center justify-center">
        <div
          class="
            w-12
            h-12
            bg-purple-500
            mb-2
            rounded-full
            flex
            items-center
            justify-center
            shadow-xl
          "
        >
          <ion-icon name="person" class="text-gray-100 text-xl"></ion-icon>
        </div>
      </div>
      <span class="block text-center text-xs">Categorie 1</span>
    </ion-col>
    <ion-col>
      <div class="w-full flex items-center justify-center">
        <div
          class="
            w-12
            h-12
            bg-purple-200
            mb-2
            rounded-full
            flex
            items-center
            justify-center
            shadow-xl
          "
        >
          <ion-icon name="person" class="text-purple-500 text-xl"></ion-icon>
        </div>
      </div>
      <span class="block text-center text-xs text-gray-400">Categorie 1</span>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <ion-chip>
  <ion-icon name="heart" color="dark"></ion-icon>
  <ion-label>categorie 1</ion-label>
</ion-chip>
<ion-chip>
  <ion-icon name="heart" color="dark"></ion-icon>
  <ion-label>categorie 1</ion-label>
</ion-chip>
<ion-chip>
  <ion-icon name="heart" color="dark"></ion-icon>
  <ion-label>categorie 1</ion-label>
</ion-chip>
<ion-chip>
  <ion-icon name="heart" color="dark"></ion-icon>
  <ion-label>categorie 1</ion-label>
</ion-chip> -->

<!-- <ion-grid>
  <ion-row>
    <ion-col size="4">
      <ion-item lines="none" button="true">
        <ion-icon name="funnel" slot="start" color="warning"></ion-icon>
        <ion-label class="text-white">
          Categorie 1
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" button="true" color="tertiary">
        <ion-icon name="funnel" slot="start" color="light"></ion-icon>
        <ion-label class="text-white">
          Categorie 2
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" button="true" color="tertiary">
        <ion-icon name="funnel" slot="start" color="light"></ion-icon>
        <ion-label class="text-white">
          Categorie 2
        </ion-label>
      </ion-item>
    </ion-col>
    
  </ion-row>
</ion-grid> -->
