ion-searchbar{
    --box-shadow: none;
    --border-radius: 1rem;
    --background: rgba(255,255,255,0);
    border: none
}
ion-toolbar{
    // border: 1px solid #2563eb;
    // border-radius: 5px;
    --background: #f6f6f6;
}